/* Layer zero */
body {
    background-color: #E5190B;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.gradient {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7));
    width: 100%;
}

.imgDiv {
    opacity: 0.3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    filter: drop-shadow(-8px 8px);
}



img {
    object-fit: fill;
    width: 100%;
    height: 100%; 
    border: #000000;
    border-width: 1px;
}

/* Layer one  */

#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 190px;
    height: 60px;
    margin-top: 55px;
    margin-left: 150px;
}

#breadCrumbs {
    position: absolute;
    margin-top: 48px;
    margin-left: 1256px;
    height: 34px;
    width: 23px;
    z-index: 1;
}


#heading {
    color: white;
    font-family: 'Outfit', sans-serif;
    z-index: 1;
    position: absolute;
    margin-top: 203px;
    margin-left: 150px;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}

#reality {
    font-family: 'Plus Jakarta Sans';
    color: #E6DD0F;
    font-weight: 800;
    font-style: italic;
}

#para {
    position: absolute;
    margin-top: 239px;
    margin-left: 776px;
    font-family: 'Inter';
    font-style: semi-bold;
    font-size: 23px;
    line-height: 25px;
    z-index: 1;
    color: white;
}



.cards {
    position: absolute;
    margin-top: 250px;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;

}




.card1 {
    background-color: #9C261E;
    position: relative;
    display: inline-block;
    width: 400px;
    height: 345px;
    top: 175px;
}

.card1>h2 {
    font-family: 'Public sans';
    position: absolute;
    top: 125px;
    left: 40px;
    font-size: 30px;
    color: white;
}

.card1>h2>span {
    color: #0FBE21;
}

.card1>p {
    position: absolute;
    top: 210px;
    left: 40px;
    color: white;
    font-family: 'Inter';
}

.card1>img {
    position: absolute;
    top: 227px;
    left: 135px;
    width: 15px;
    height: 15px;
}


.card2 {
    position: relative;
    display: inline-block;
    background-image: url('assets/card2bg.png');
    background-size: cover;
    width: 400px;
    height: 345px;
    top: 175px;
}

.card2>h2 {
    font-family: 'Public sans';
    position: absolute;
    top: 125px;
    font-size: 30px;
    color: white;
    left: 40px;
}

.card2>h2>span{
    color: #0FBE21;
}

.card2>p {
    position: absolute;
    top: 210px;
    left: 40px;
    color: white;
    font-family: 'Inter';

}



.card3 {
    position: relative;
    display: inline-block;
    background-color: #9C261E;
    width: 400px;
    height: 345px;
    top: 175px;
}

.card3>h2 {
    font-family: 'Public sans';
    font-size: 30px;
    font-style: semi-bold;
    color: white;
    position: absolute;
    top: 125px;
    left: 40px;
}

.card3>h2>span {
    color: #0FBE21;
}

.card3>p {
    position: absolute;
    top: 210px;
    left: 40px;
    color: white;
    font-family: 'Inter';


}

.card3>img {
    position: absolute;
    top: 227px;
    left: 135px;
    width: 15px;
    height: 15px;
}








/* .card2 > img{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
} */